{% extends template('ratepay-layout', 'Ratepay') %}

{% define data = {
    form: form
} %}

{% block body %}
    <div class="form__fields grid grid--bottom">
        {{ ratepayTemplate.subFormField(data, 'ratepayInvoice', 'date_of_birth') }}
        {{ ratepayTemplate.subFormField(data, 'ratepayInvoice', 'phone') }}
    </div>
{% endblock %}